.containerDiv{
    display: grid;
    justify-content: center;
    
    grid-template-columns: auto auto auto;
    color:snow;
    font-size: large;
}
.linkStyle{
    text-align: center;
    text-decoration: none;
    color: snow;
    background: black;
    transform: rotate(90);
    font-size: medium;
    font-weight: bold;
}
h2{
    text-align: center;
    color: red;
    text-decoration: double;
}
